*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

/*
  @color primary
  #0e141a
  rgba(14, 20, 26, 0.1)
*/

body {
  position: relative;
  background: white;
}

body.green {
  background: #00d46a;
}

body.blue {
  background: #00a4ff;
}

body.violet {
  background: #9552ef;
}

body.red {
  background: #ff4040;
}

body.orange {
  background: #ff6e00;
}

body.yellow {
  background: #ffb700;
}

body.correct {
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: #00d46a;
}

body.error {
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: #ff4040;
}

/* --------------------------------

LOGIN | SIGN UP

-------------------------------- */

.grid-login {
  width: calc(100% - 40px);
  max-width: 490px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .grid-login {
    width: calc(100% - 24px);
    padding: 0;
  }
}

.grid-login .alert {
  border-radius: 4px;

  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;

  height: 0;
  overflow: hidden;
  margin: 0 0 24px;
  position: relative;
}

.grid-login .alert p {
  padding: 12px 36px 12px 12px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-align: left;
}

.grid-login .alert button {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 0px solid #fff;
  background: none;
  cursor: pointer;
  padding: 0;
}

.grid-login.forgot-password .alert button {
  top: 26px;
}

.grid-login .alert button span {
  color: rgba(14, 20, 26, 0.2);

  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.grid-login .alert button:hover span {
  color: rgba(14, 20, 26, 0.4);
}

.grid-login .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.grid-login .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.grid-login .alert.visible {
  height: 48px;
}

.grid-login.forgot-password .alert.visible {
  height: 72px;
}

.content-header {
  color: white;
  font-family: "Galano Bold", sans-serif;
  font-size: 29px;
  line-height: 36px;
  padding: 12px 0;
  text-align: center;
  position: relative;
  top: -3px;
  letter-spacing: 0.003em;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .content-header {
    line-height: 24px;
    font-size: 22px;
  }
}

.content-header h1 {
  padding: 48px 0 12px;
}

@media (max-width: 600px) {
  .content-header h1 {
    padding: 36px 0 24px;
  }
}

.content-body {
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 12px rgba(8, 41, 71, 0.12);
  border-radius: 4px;
  padding: 24px 20px;
  margin-bottom: 24px;
  background: white;
}

.content-body.clickable {
  cursor: pointer;
}

.content-body.clickable:hover {
  box-shadow: 0 2px 12px rgba(8, 41, 71, 0.60);
}

@media (max-width: 600px) {
  .content-body {
    padding: 24px 12px;
  }
}

.content-body .logo {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.grid-login .content-body .logo {
  margin-bottom: 0;
}

.logo img {
  width: 48px;
  height: 92px;
}

.logo span {
  font-family: "Galano Semibold", sans-serif;
  font-size: 36px;
  line-height: 96px;
  color: rgba(14, 20, 26, 0.8);
}

.logo span strong {
  font-family: "Galano Bold", sans-serif;
  font-size: 48px;
}

.content-body .form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 36px;
}

@media (max-width: 600px) {
  .form-group {
    margin-bottom: 24px;
  }
}

.form-group label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgba(14, 20, 26, 0.6 );
  margin-left: 2px;
  line-height: 24px;
  position: relative;
  top: -4px;
}

.form-group .forgot-password {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: rgba(14, 20, 26, 0.4);
  margin-right: 2px;
  line-height: 24px;
  position: relative;
  top: -4px;
  letter-spacing: 0.003em;
}

.form-group .forgot-password:hover {
  color: rgba(14, 20, 26, 0.8);
}

.form-control {
  font-family: "Galano Semibold", sans-serif;
  font-weight: 400;
  font-size: 14px;

  color: rgba(14, 20, 26, 0.8);

  background: rgba(8, 41, 71, 0.05);
  box-shadow: none;

  display: block;
  width: 100%;
  height: 60px;

  padding: 0 20px;
  border: 0;

  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .form-control {
    font-size: 12px;
  }
}

.form-control:hover {
  background: rgba(8, 41, 71, 0.1);
}

.btn-wrapper {
  margin: 24px 0 0;
  text-align: center;
}

.btn {
  font-family: "Galano Bold", sans-serif;
  padding: 0 20px;
  min-width: 140px;

  font-size: 16px;
  line-height: 60px;
  border-radius: 4px;
  border: 0px solid transparent;

  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
}

@media (max-width: 600px) {
  .btn {
    min-width: 80px;
  }
}

.btn.btn-success {
  color: #fff;
  background: #ff4040;
}

.btn.btn-success:hover {
  background: rgba(255, 64, 64, 0.8);
}

.green .btn.btn-success {
  color: #fff;
  background: #00d46a;
}

.green .btn.btn-success:hover {
  background: rgba(0, 212, 106, 0.8);
}

.btn.btn-social {
  color: #fff;
  font-weight: normal;
  width: calc(50% - 10px);
  padding: 0;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.btn.btn-social .btn-content {
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
}

.btn.btn-social:hover .btn-content {
  top: -60px;
}

@media (max-width: 600px) {
  .btn.btn-social:hover .btn-content {
    top: 0px;
  }
}

.btn.btn-social .btn-label {
  width: 100%;
  line-height: 60px;
  height: 60px;
}

.btn.btn-github {
  background: #6e5494;
}

.btn.btn-github .icon-16-github {
  font-size: 24px;
  line-height: 60px;
  display: block;
}

.btn.btn-google {
  background: #3cba54;
}

.btn.btn-google .icon-google {
  width: 100%;
  height: 60px;
  display: block;
  background: url(images/icon-google-white.png) no-repeat center center;
  background-size: 24px 24px;
}

.btn.btn-facebook {
  background: #3b5998;
}

.btn.btn-facebook .icon-16-facebook {
  font-size: 24px;
  line-height: 60px;
  display: block;
}

.info-small {
  color: rgba(8, 41, 71, 0.4);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin: 12px 0 18px;
  padding: 0;
  font-family: "Galano Semibold", sans-serif;
  font-weight: 400;
  position: relative;
  top: -1px;
  letter-spacing: 0.003em;
}

.info-small a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-family: "Galano Semibold", sans-serif;
  color: #ff4040;
  font-weight: 400;
}

.info-small a:hover {
  color: rgba(255, 64, 64, 0.6);
}

.green .info-small a {
  color: #00d46a;
}

.green .info-small a:hover {
  color: rgba(0, 212, 106, 0.8);
}

.info-small.social {
  margin: -8px 0 12px;
  line-height: 24px;
  letter-spacing: 0em;
}

.col-flex-row-spacebetween-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column-center-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column-top-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* --------------------------------

QUIZ

-------------------------------- */

.wrapper {
  height: 100vh;
  position: relative;
}

@media (max-width: 1024px) {
  .wrapper {
    height: calc(100vh - 108px);
  }
}

.wrapper footer {
  height: 120px;
  padding-top: 36px;
}

@media (max-width: 1024px) {
  .wrapper footer {
    padding-top: 24px;
    height: 80px;
  }
}

.wrapper footer .btn {
  opacity: 0;
  display: none;
  -webkit-animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.2s 1 orwards;
  animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.2s 1 forwards;

  height: 60px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper footer.visible .btn {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.wrapper footer .btn-next {
  background: #fff;
  box-shadow: 0 2px 8px rgba(14, 20, 26, 0.1);
  color: rgba(14, 20, 26, 0.8);
}

.wrapper footer .btn-success:hover,
.wrapper footer .btn-success:focus {
  box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
}

.grid-quiz {
  width: calc(100% - 40px);
  max-width: 680px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .grid-quiz {
    padding: 0;
  }
}

.grid-quiz #validation {
  position: absolute;
  width: 100%;
  opacity: 0;

  text-align: center;
  margin: 0 auto;
  bottom: 0;
}

.grid-quiz #validation h1 {
  color: white;
  letter-spacing: 0.003em;
  padding: 0;
}

.grid-quiz #validation p {
  font-size: 19px;
  line-height: 24px;
  padding: 12px 0 36px;
  color: white;
  letter-spacing: 0.003em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .grid-quiz #validation p {
    padding: 12px 0;
  }
}

.grid-quiz #validation p strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

body.correct #validation,
body.error #validation {
  -webkit-animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.2s 1 forwards;
  animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.2s 1 forwards;
}

body #title {
  position: absolute;
  opacity: 0;
  display: none;
  bottom: 0;
  -webkit-animation: fadeInTop 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  animation: fadeInTop 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
}

body #title.visible {
  display: block;
}

body.correct #title,
body.error #title {
  -webkit-animation: fadeOutTop 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  animation: fadeOutTop 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
}

.content-header.question {
  min-height: 120px;
}

.content-header.question h1 {
  font-size: 48px;
  line-height: 48px;
  padding: 24px 0;
  text-align: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .content-header.question h1 {
    font-size: 36px;
    line-height: 48px;
    padding: 24px 0;
  }
}

@media (max-width: 600px) {
  .content-header.question h1 {
    font-size: 24px;
    line-height: 26px;
    padding: 24px 0;
  }
}

.grid-quiz.question {
  position: relative;
  width: calc(100% - 40px);
  height: 300px;

  padding: 0 20px;
}

@media (max-width: 600px) {
  .grid-quiz.question {
    width: calc(100% - 24px);
    padding: 0 12px;
    height: 200px;
  }
}

.grid-quiz .half {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  width: calc(50% - 10px);
  max-width: 300px;
  height: 300px;
}

@media (max-width: 600px) {
  .grid-quiz .half {
    width: calc(50% - 6px);
    height: 200px;
  }

  .grid-quiz.question .half .content-body {
    padding: 20px 12px;
  }
}

.grid-quiz .half:first-child {
  left: 0;
  top: 0;
  -webkit-animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.4s 1 forwards;
  animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.4s 1 forwards;
}

.grid-quiz .half.correct:first-child,
.grid-quiz .half.error:first-child {
  -webkit-animation: leftToCenter 0.3s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  animation: leftToCenter 0.3s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
}

.grid-quiz .half:last-child {
  right: 0;
  top: 0;
  -webkit-animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.4s 1 forwards;
  animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.4s 1 forwards;
}

.grid-quiz .half.correct:last-child,
.grid-quiz .half.error:last-child {
  -webkit-animation: rightToCenter 0.3s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  animation: rightToCenter 0.3s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
}

.grid-quiz .half .content-body {
  height: 100%;
  width: 100%;
  padding: 40px;
}

.grid-quiz .half h3 {
  font-family: 'Galano Semibold', sans-serif;
  font-size: 19px;
  line-height: 24px;
  padding: 6px 0;
  font-weight: 400;
  text-align: center;
  color: rgba(14, 20, 26, 0.8);
}

.grid-quiz .half p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 0;
  text-align: center;
  color: rgba(14, 20, 26, 0.6)
}


/* --------------------------------

RANKING

-------------------------------- */

.content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.ranking-offset {
  width: calc(100% - 440px);
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .ranking-offset {
    width: 100%;
  }
}

.ranking-container {
  min-height: 100vh;
  background: white;
  width: 440px;
}

@media (max-width: 1024px) {
  .ranking-container {
    width: 100%;
    height: auto;
  }
}

.ranking {
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .ranking {
    padding: 0 12px;
  }
}

.ranking .content-header h1 {
  color: rgba(14, 20, 26, 0.8) ;
}

@media (max-width: 1024px) {
  .ranking .content-header h1 {
    line-height: 60px;
    padding: 12px 0;
  }
}


table{
  display: table;
  width: 100%;
  max-width: 440px;
  margin: 0 auto 36px;
}

table thead,
table tbody {
  display: table-row-group;
}

table tr {
  display: table-row;
}

table tr th,
table tr td {
  line-height: 24px;
  padding: 18px 20px;
  text-align: center;
  color: rgba(14, 20, 26, 0.8);
}

table tr th.left,
table tr td.left {
  text-align: left;
}

table tr th {
  font-family: 'Galano Bold', sans-serif;
}

table tr td {
  font-family: 'Galano Semibold', sans-serif;
}

table > tbody > tr > th,
table > tbody > tr > td {
  color: rgba(14, 20, 26, 0.7);
  font-size: 14px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
table tr th,
table tr td {
  border-right: 1px solid rgba(14, 20, 26, 0.2);
  border-bottom: 1px solid rgba(14, 20, 26, 0.2);
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid rgba(14, 20, 26, 0.2);
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid rgba(14, 20, 26, 0.2);
}

table tr th {
  border-top: 1px solid rgba(14, 20, 26, 0.2);
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

/* --------------------------------

MENU - AVATAR / LOGOUT

-------------------------------- */
.menu {
  position: absolute;
  right: 20px;
  top: 12px;
}

.menu .avatar {
  float: left;
  position: relative;
  margin-right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  border: 0px solid #fff;
}

.menu .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  z-index: 10;
  border-radius: 50%;
}

.menu .avatar img[src=""] {
   display: none;
}

.menu .avatar #userInitials {
  background: #082947;
  color: white;
  font-family: 'Galano Bold', sans-serif;
  text-align: center;
  display: block;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  z-index: 9;
  border-radius: 50%;
}

.menu .logout {
  float: left;
  position: relative;
  width: 36px;
  height: 36px;
  text-align: center;
  background: white;
  border-radius: 50%;
  display: block;
  box-shadow: none;
  border: 0px solid #fff;
  cursor: pointer;
  padding: 0;
}

.menu .logout span {
  color: #00a4ff;
  line-height: 36px;
  font-size: 12px;
  padding: 0 0 0 3px;
}

.menu .avatar .btn-tooltip,
.menu .logout .btn-tooltip {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: calc(100% + 6px);
  height: 36px;
  border-radius: 4px;
  padding: 0 12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #0e141a;
  line-height: 36px;
  box-shadow: 0 10px 20px rgba(14, 20, 26, 0.1);
  white-space: nowrap;
}

.menu .avatar:hover .btn-tooltip,
.menu .logout:hover .btn-tooltip {
  opacity: 1;
}


/* --------------------------------

ANIMATIONS

-------------------------------- */
@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-80px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translate3d(-80px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(80px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translate3d(80px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutTop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fadeOutTop {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes leftToCenter {
  0% {
    left: 0;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes leftToCenter {
  0% {
    left: 0;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes rightToCenter {
  0% {
    right: 0;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
  }
}

@keyframes rightToCenter {
  0% {
    right: 0;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
  }
}
